@font-face {
  font-family: "GOT";
  src: url("../fonts/Game\ of\ Thrones.ttf");
}

body {
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.character-container {
  font-size: 1em;
  width: 78%;
  background-image: url("../assets/site/mapblue_small.jpg");
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.info-container {
  padding: 15px;
  background-color: rgb(66, 66, 66);
  width: 22%;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.info_container__title {
  text-align: center;
  font-size: 1.25em;
  font-family: "GOT";
  font-weight: lighter;
  margin-top: 15px;
  margin-bottom: 0px;
}

.info_name_and_house {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.info_name {
  font-weight: bolder;
  font-size: 1.2em;
}

.house_img {
  visibility: hidden;
  margin-top: 1.5vh;
  width: 10%;
  height: 80%;
}

.info_bio {
  text-align: justify;
}

.info_search__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search_box {
  display: flex;
  width: 80%;
}

.greater_than {
  background-color: rgb(66, 66, 66);
  border: 1px solid white;
}

.fa-greater-than {
  color: white;
}

.info_search__container input {
  align-self: flex-end;
  padding: 8px;
  width: 85%;
  border: none;
}

.search_icon_wrapper {
  background-color: white;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-search {
  color:rgb(66, 66, 66);
}

img {
  width: 50px;
  height: 50px;
}

.one_char_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.one_char_container > p {
  margin: 0;
}

.info-img-wrapper {
  margin-top: 2vh;
  width: 100%;
  height: 28vh;
}

.info-img {
  visibility: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
