body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgb(250, 178, 178);
}

.main__btn {
  padding: 10px;
  margin: auto;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 139, 139);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
}

.main__btn:hover {
  background-color: rgb(0, 116, 116);
}

.modal {
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: visibility 0.5s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0.5s, opacity 0.5s ease-in-out;
  -ms-transition: visibility 0.5s, opacity 0.5s ease-in-out;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.modal.show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
  -ms-transition: visibility 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.modal__content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgb(254, 254, 254);
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(136, 136, 136);
}

.fa-times {
  display: block;
  float: right;
  font-size: 1.2em;
  cursor: pointer;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}

.modal__buttons {
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.modal__buttons--ok {
  background-color: rgb(76, 175, 80);
}

.modal__buttons--cancel {
  background-color: rgb(244, 67, 54);
  margin-left: 15px;
}

@media (min-width: 560px) {
  .modal__content {
    width: 50%;
  }
}
