body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
}

label {
  display: block;
}

.icon {
  background-color: rgb(100, 100, 100);
  color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-text {
  font-size: 36px;
  font-weight: 400;
}

.copyright {
  font-size: 12px;
}

.form-container {
  width: 25%;
}

@media (max-width: 920px) {
  .form-container {
    width: 40%;
  }
}

@media (max-width: 650px) {
  .form-container {
    width: 65%;
  }
}

@media (max-width: 520px) {
  .form-container {
    width: 80%;
  }
}